#root {
  height: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

avatar {
  padding: 20px;
}